#inventoryContainer{
    span{
        font-size: 30px;
        font-weight: 600;
        color: #1f4e58;
    }
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 100%;
    padding: 100px 50px 120px 30px;
    font-size: 14px !important;
}
