#inventoryContainer{
    span{
        font-size: 30px;
    font-weight: 600;
    color: #1f4e58;
    }
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 100%;
    padding: 120px 50px;
    font-size: 14px !important;
   
}
